p{
	font-family: Helvetica;
	width: 28em;
	font-size: 10pt;
	font-weight: 100;
	background-color: #FAEBD7;
	line-height: 150%;
	cursor: grab;
}
h1{
	font-family: Courier;
	font-weight: 100;
	width: 280pt;
	font-size: 10pt;
	background-color: #FAEBD7;
	line-height: 150%;
	cursor: grab;
}
blockquote{
	font-family: Courier;
	width: 28em;
	font-size: 10pt;
	background-color: #FAEBD7;
	line-height: 150%;
	cursor: grab;
}