
#container{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 20% 20% 20% 20% 20%;
  border: 1px solid red;
}

#three{
	font-size: .7vw; 
	  grid-column: 1 / 6;
	  grid-row: 1;
}

#title{
	font-size: .7vw; 
	  grid-column: 3 / 6;
	  grid-row: 1;
}

#words{
	font-size: .7vw; 
	grid-column: 1 / 6;
	grid-row: 4;
}

#message{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 20% 20% 20% 20% 20%;
  	border: 1px solid red;
}